
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PlantillaPrincipal.cshtml";
}


<section class="first">
    <div class="outer">
        <div class="inner">
            <div id="primeraSeccion" class="bg one">
                <h2 class="section-heading">Muebles<br>para <span class="texto-rosado">mamá</span> en<br> su día</h2>

                <p class="seccion-botones">
                    <button class="btn btn-primario">
                        Ver detalles
                    </button>
                </p>

                <p class="ilustracion-sillon">
                    <img src="~/Content/img/sillon.png" />
                </p>



            </div>
        </div>
    </div>

</section>
<section class="second">
    <div class="outer">
        <div class="inner">
            <div class="bg">
                <h2 class="section-heading">Muebles<br>en <span class="texto-rosado">Melanina</span> y<br><span class="texto-rosado">Madera</span></h2>

                <p class="seccion-botones">
                    <button class="btn btn-primario">
                        Productos
                    </button>
                    <button class="btn btn-primario">
                        A medida
                    </button>
                </p>

                <p class="ilustracion-sillon">
                    <img src="~/Content/img/" />
                </p>
            </div>
        </div>
    </div>
</section>
<section class="third">
    <div class="outer">
        <div class="inner">
            <div class="bg">
                <h2 class="section-heading">Baño</h2>

                <div class="productos-banio">
                      

                    <div class="tarjeta marco-madera">
                        <a href="#">
                            <h3 class="centrado">Sets</h3>
                            <div class="marco-madera-contenido sets">
                            </div>
                        </a>
                    </div>
                    <div class="tarjeta marco-madera">
                        <a href="#">
                            <h3 class="centrado">Javoneras</h3>
                            <div class="marco-madera-contenido jaboneras">
                            </div>
                        </a>
                    </div>
                    <div class="tarjeta marco-madera tarjeta-inclinada">
                        <a href="#">
                            <h3 class="centrado">Dispensador</h3>
                            <div class="marco-madera-contenido dispensador">
                            </div>
                        </a>
                    </div>
                    <div class="tarjeta marco-madera">
                        <a href="#">
                            <h3 class="centrado">Papeleras</h3>
                            <div class="marco-madera-contenido papeleras">
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="fourth">
    <div class="outer">
        <div class="inner">
            <div class="bg">
                <h2 class="section-heading">Sucursales</h2>
                <div class="seccion-tiendas">
                    <div class="tarjeta-tienda">
                        <h4>Cerca de ti</h4>
                        <h3 class="sucursal p-l-0 texto-rosado">En La Paz</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolore saepe atque voluptas voluptates magni porro, provident amet quos minus cumque quis officiis sapiente aspernatur nesciunt perferendis fuga id minima?
                        </p>
                        <p class="text-center">
                            <button class="btn btn-primario">Ver sucursal</button>
                        </p>
                    </div>
                    <div class="tarjeta-tienda">
                        <h4>A tu lado en</h4>
                        <h3 class="sucursal p-l-0 texto-rosado">En Cochabamba</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolore saepe atque voluptas voluptates magni porro, provident amet quos minus cumque quis officiis sapiente aspernatur nesciunt perferendis fuga id minima?
                        </p>
                        <p class="text-center">
                            <button class="btn btn-primario">Ver sucursal</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fifth">
    <div class="outer">
        <div class="inner">
            <div class="bg">
                <h2 class="section-heading"></h2>
            </div>
        </div>
    </div>
</section>


